<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="vue-app">
        <h3>Vue Instance, Data and Methods, Data Biding</h3>
        <h4>{{ greet("Morning") }}</h4>
        <p>Name: {{ name }}</p>
        <p>Job: {{ job }}</p>
        <p>
           <a v-bind:href="website">Website</a>
        </p>
        <p v-html="websiteHTML"></p>

        <div>
            <h3>Events</h3>
            <button
                v-on:click="add(1)"
            >
                Add a Year
            </button>

            <button
                v-on:click="subtract(1)"
            >
                Subtract a Year
            </button>

            <button
                v-on:dblclick="add(10)"
            >
                Add 10 Years
            </button>

            <button
                v-on:dblclick="subtract(10)"
            >
                Subtract 10 Years
            </button>
            <p>My age: {{ age }}</p>

            <div 
                class="canvas"
                v-on:mousemove="updateXY"
            >
                {{ x }}, {{ y }}
            </div>
        </div>

        <div>
            <h3>Keyboard Events</h3>
            <label>Name: {{ formName }}</label>
            <br />
            <input type="text" name="formName" v-on:keyup="handleChange" />
            <br />
            <label>Age: {{ formAge }}</label>
            <br />
            <input type="text" name="formAge" v-on:keyup="handleChange" />
        </div>

        <div>
            <h3>Two way Data Binding</h3>
            <label>Name: {{ formName }}</label>
            <br />
            <input type="text" name="formName" v-model="formName" />
            <br />
            <label>Age: {{ formAge }}</label>
            <br />
            <input type="text" name="formAge" v-model="formAge" />
        </div>
    </div>
    
    <script src="App.js"></script>
</body>
</html>